#gameDiv {
    margin: 0 auto;
    width: 500px;
    font-family: 'Brush Script MT', cursive;
    border: 3xp solid;
    border-radius: 25px;
    background: lightgray;
    padding: 10px;
    text-align: center;
}
.choiceBtn {
    line-height: 30px;
    width: 150px;
}
#playerText {
    color: blue;
}
#computerText {
    color: red;
}